<a href="https://colab.research.google.com/github/hanisdhuzuki/Assignment-IS/blob/main/Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hanis' first google collab yeehoo.

In [ ]:
import numpy as np

list1 = [1, 2, 3,4]
list2 = [[1, 2, 3,4]]
list3 = [[1, 2, 3,4],[10, 20, 30, 40], [100,200,300,400]]
arr1 = np.array(list1)
arr1 = np.array(list2)
arr1 = np.array(list3)
print

In [14]:
import pandas as pd
myList2 = [[1, 2, 3, 4], [10, 20, 30, 40, 50]]
df3 = pd.Dataframe(myList2, index = ['A', 'B'], columns = ['1st', '2nd','3rd','4th','5th'])df3

SyntaxError: ignored

In [9]:
classData = pd.read_csv('pandasDemo.csv')
classData.head(6)
classData.describe()

       Enrolment    Rating
count   9.000000  8.000000
mean   34.000000  7.875000
std     4.873397  1.125992
min    28.000000  6.000000
25%    30.000000  7.000000
50%    32.000000  8.000000
75%    39.000000  9.000000
max    40.000000  9.000000

In [16]:
df = pd.read_csv('datapreprocessing.csv')
df

   Color  Years  Strength  Height       Weight Dangerous
0  Green    2.3     210.0   170.0  20 to 30 kg       Yes
1    Red    4.1     100.0     NaN  10 to 20 kg        No
2   Blue    1.4       NaN   412.0   0 to 10 kg        No
3  Green    NaN     313.0   123.0  10 to 20 kg       Yes
4    NaN    5.2     512.0   372.0   0 to 10 kg       Yes